<div id="announcement-bar" class="announcement-bar-container">
  <div class="announcement-bar-scroll">
      {% for i in (1..section.settings.announcement_count) %}
          <div class="announcement-item">{{ section.settings.announcement_text }}</div>
      {% endfor %}
  </div>
</div>

<style>
  .announcement-bar-container {
      width: 100%;
      background-color: {{ section.settings.background_color }};
      height: auto;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
  }

  .announcement-bar-scroll {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: fit-content;
      animation: scroll-animation 40s linear infinite;
  }

  @keyframes scroll-animation {
      0% {
          transform: translateX(0%);
      }
      100% {
          transform: translateX(-50%);
      }
  }

  .announcement-item {
      display: flex;
      align-items: center;
      gap: 0 0.2rem;
      color: #e2e8f0;
      font-size: 1.6rem;
      padding: 0.3rem 1rem;
      border-radius: 0.4rem;
      white-space: nowrap;
   }
</style>


{% schema %}
{
  "name": "Evan's Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "Free Toothpaste Tablets with ANY purchase 🎉"
    },
    {
      "type": "number",
      "id": "announcement_count",
      "label": "Number of Announcements",
      "default": 14,
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#2563EB"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}
