<div id="container" class="w-full h-8 relative overflow-hidden whitespace-nowrap" style="background-color: {{ settings.background_color }};">
    <div class="scroll my-auto">
        {% for i in (1..settings.announcement_count) %}
            <div class="item">{{ settings.announcement_text }}</div>
        {% endfor %}
    </div>
</div>

<style>
#container .scroll {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    white-space: nowrap;
    animation: loop 30s linear infinite;
}

@keyframes loop {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-50%);}
}

.item {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #e2e8f0;
    font-size: .9rem;
    padding: 0.3rem 1rem;
    border-radius: 0.4rem;
    white-space: nowrap;
    box-shadow:
        0 0.1rem 0.2rem #00000033,
        0 0.1rem 0.5rem #0000004d,
        0 0.2rem 1.5rem #00000066;
}
</style>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "Free Toothpaste Tablets with ANY purchase 🎉"
    },
    {
      "type": "number",
      "id": "announcement_count",
      "label": "Number of Announcements",
      "default": 14,
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#2563EB"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}